<div class="mat-elevation-z8">
  <div class="filter">
    <mat-form-field class="example-full-width">
      <mat-label>Author: </mat-label>
      <mat-select [(ngModel)]="selectedFilter" (valueChange)="changeAuthorFilter($event)">
        <mat-option *ngFor="let item of filterList" [value]="item.key">{{item.value}} - User Id: {{item.key}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width">
      <mat-label>Title: </mat-label>
      <input type="text" matInput [(ngModel)]="title" (keyup)="changeTitleFilter($event)">
    </mat-form-field> -->

  </div>
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> {{column.value}} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="column.key !== 'delete' && column.key !== 'edit'">
          {{element[column.key]}}
        </span>

        <span *ngIf="column.key === 'delete'">
          <button type="button" (click)="delete(element.id)" mat-raised-button color="warn">Delete</button>
        </span>

        <span *ngIf="column.key === 'edit'">
          <button type="button" (click)="edit(element)" mat-raised-button color="primary">Edit</button>
        </span>

        <span *ngIf="column.key === 'detail'">
          <button type="button" (click)="detail(element.id)" mat-raised-button color="accent">Detail</button>
        </span>
      </td>
      <!-- <td mat-cell *matCellDef="let element"> Delete
      </td>
      <td mat-cell *matCellDef="let element"> Edit
      </td> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="matDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: matDisplayedColumns;"></tr>
  </table>
</div>