<form class="action" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-card-title>{{title}}</mat-card-title>
  
  <app-shared-input label="Title" type="text" controlName="title" [controlForm]="form" />
  <app-shared-input label="email" type="email" controlName="email" [controlForm]="form" />
  <app-shared-select-box label="Title" [list]="authorList" controlName="userId" [controlForm]="form" />
  <app-shared-textarea label="Body" controlName="body" placeHolder="enter any body" [controlForm]="form" />
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>